.level__item {
    display: inline-block;
}

.level__parent::after {
    content: "";
    width: 0;
    height: 0;
    border: 5px solid transparent;
    display: inline-block;
    margin-left: 0.5em;
    vertical-align: middle;
    cursor: pointer;
}

.level__parent--hidden::after {
    border-top: 5px solid var(--color-text-primary, #24292f);
    margin-top: 5px;
}

.level__parent--opened::after {
    border-bottom: 5px solid var(--color-text-primary, #24292f);
    margin-bottom: 5px;
}

.content {
    vertical-align: middle;
	

}

/**
 * treeview container. 这里设置treeview__container容器的内部布局，relative布局 ------>  其本身布局应该由父布局决定！！！！！
 */

.treeview__container {
	/* position: relative;   changed by cg */
	margin-bottom: 80px;
	padding-bottom: 20px;

	/* add by cg */
	position: fixed;
	text-align: left;
	z-index: 0;  /* add by cg： 999是最高Z轴配置*/
	left: 1400px;  /* cg注释： 1vh = 1% 这里没有用 vh作为单位，因为手机上屏幕太小，希望手机上不显示*/
    top: 30px;
    overflow-y: auto;
	height:70vh;  /* 1vh = 1% viewport height  https://blog.csdn.net/ghvjhfjf/article/details/122369878 */
	width:200vh;  /* 这里保证滚动条位置超出页面：为了不遮挡 主页面滚动条 */
    overflow-x: auto;
	font-size: 14px;
}

.treeview__container-title {
	position: absolute;
    right: 0;
    bottom: -35px;
    /* depends on: gitbook-plugin-color */
    border-bottom: 1px solid var(--color-book-border, rgba(255, 255, 255, 0.2));
}

.treeview__main-title {
    font-size: 20px;
}

.treeview__copyright {
	margin-left: 5px;
    color: #cdcdcd;
    font-size: 10px;
}

@media (max-width: 720px) {
	.treeview__copyright {
		display: none;
	}
}
